@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  min-height: 100vh;
  min-width: 320px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #111827;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f9fafb;
}

#root {
  width: 100%;
  margin: 0 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #111827 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
input:-moz-autofill-preview {
  color: #111827 !important;
  background-color: #ffffff !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  color: #111827 !important;
  background-color: #ffffff !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111827 !important;
  background-color: #ffffff !important;
}

::selection {
  background-color: #3b82f6;
  color: #ffffff;
}

::-moz-selection {
  background-color: #3b82f6;
  color: #ffffff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}
